* text=auto
*.sh text eol=lf
# OS specific line endings for the Maven wrapper script
mvnw text eol=lf
mvnw.cmd text eol=crlf
# OS specific line endings for the Gradle wrapper script
gradlew text eol=lf
gradlew.cmd text eol=crlf