name: Smoke plugin tests
on:
  workflow_dispatch:
    inputs:
      tag_option:
        type: choice
        description: tag option
        options:
          - latest
          - previous
          - next
          - 0.50.0
      nx_tag_option:
        type: choice
        description: nx tag option
        options:
          - latest
          - previous
          - next
          - 18.3.5
          - 17.0.6
          - 16.10.0
      t_option:
        type: choice
        description: t option
        options:
          - nx-gradle
          - nx-gradle micronaut smoke
          - nx-gradle default smoke
          - nx-gradle quarkus smoke
          - nx-gradle spring-boot smoke
          - nx-maven
          - nx-maven micronaut smoke
          - nx-maven micronaut bom smoke
          - nx-maven quarkus smoke
          - nx-maven spring-boot smoke
          - nx-maven spring-boot bom smoke
      os:
        type: choice
        description: Os
        options:
          - ubuntu-latest
          - macos-latest
          - windows-latest

jobs:
  smoke-plugin:
    name: Running ${{ github.event.inputs.t_option }} smoke tests with nx ${{ github.event.inputs.nx_tag_option }} version and jnxplus ${{ github.event.inputs.tag_option }} version from ${{ github.head_ref || github.ref_name }} branch
    strategy:
      matrix:
        node_version: ['24']
        java: ['17']
      fail-fast: true
    runs-on: ${{ github.event.inputs.os }}
    env:
      NPM_TAG: ${{ github.event.inputs.tag_option }}
      NX_NPM_TAG: ${{ github.event.inputs.nx_tag_option }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'npm'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Install dependencies
        run: npm i

      - name: smoke tests
        run: npm run nx smoke jnxplus-smoke -- --t="${{ github.event.inputs.t_option }}"
        env:
          NX_MAVEN_CLI_OPTS: '--no-transfer-progress -Dmaven.plugin.validation=VERBOSE'
